.item
	img(data-src='')
	.container
		.col-sm-8.col-sm-offset-3
			.panel.panel-primary
				.panel-heading
					h3.panel-title.text-center Fan Assembling
				.panel-body
					.col-sm-8.col-sm-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Select Pressure

							//select(ng-model='data.FanAssemblies.PressureDifference',class='form-control', ng-options='p.name for p in pressureDff')
							select.form-control(ng-model='data.FanAssemblies.PressureDifference')
								option(value='') Select Pressure..
								option(value='0') Lines 0,3(Fan with Pressure Losses at both sides)
								option(value='1') Lines 0,2(Fan with Pressure Losses at inlet)
								option(value='2') Lines 1,3(Fan with Pressure Losses at outlet)
								option(value='3') Lines 1,2(Only the Fan)
							small.help-block(
							ng-show='newProject.selectPressure.$invalid && newProject.selectPressure.$dirty')
								| select Pressure is required
						.form-group(ng-show='lines.onlyfan')
							button.btn.btn-primary.pull-left(href='#formCarousel',type='submit',data-slide='prev') Previous
							button.btn.btn-primary.pull-right(href='#formCarousel',type='submit',data-slide='next') Next
				.panel-heading(ng-hide='lines.faninlet')
					h3.panel-title.text-center Resistant Coefficients Inletside
				.panel-body(ng-hide='lines.faninlet')
					.col-sm-8.col-sm-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Inlet Sound Silencer
							input(
							class='form-control ',
							type='text',
							ng-model='data.FanAssemblies.InletSoundSilencer',
							placeholder='Enter/Select Inlet Sound Silencer ')
							button.btn.btn-primary.btn-circle(ng-model='data.FanAssemblies.InletSoundSilencer',ng-repeat=' unit in inletSilencer.$values | filter:{ParentId:10} ',btn-radio="'{{unit.Value}}'") {{unit.Value}}

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Inlet Box
							input(
							class='form-control ',
							type='text',
							ng-model='data.FanAssemblies.InletBox',
							placeholder='Enter/Select Inlet Box ')
							button.btn.btn-primary.btn-circle(ng-model='data.FanAssemblies.InletBox',ng-repeat=' unit in inletSilencer.$values | filter:{ParentId:11}',btn-radio="'{{unit.Value}}'") {{unit.Value}}

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Other Inlet parts
							input(
							class='form-control ',
							type='text',
							ng-model='data.FanAssemblies.InletOtherParts',
							placeholder='Enter/Select Other Inlet parts ')

							button.btn.btn-primary.btn-circle(ng-model='data.FanAssemblies.InletOtherParts',ng-repeat=' unit in inletSilencer.$values | filter:{ParentId:13}',btn-radio="'{{unit.Value}}'") {{unit.Value}}
						.form-group(ng-show='lines.onlyinlet')
							button.btn.btn-primary.pull-left(href='#formCarousel',type='submit',data-slide='prev') Previous
							button.btn.btn-primary.pull-right(href='#formCarousel',type='submit',data-slide='next') Next

				.panel-heading(ng-hide='lines.fanoutlet')
					h3.panel-title.text-center Resistant Coefficients Outletside
				.panel-body(ng-hide='lines.fanoutlet')
					.col-sm-8.col-sm-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Inlet/Outlet Area Ratio
							input#dynamicViscosity(
							class='form-control ',
							type='text',
							name='dynamicViscosity',
							ng-model='data.FanAssemblies.EvaseOutlet_InletAreaRatio',
							placeholder='Enter Dynamic Viscosity ',
							required)
							small.help-block(
							ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
								| Inlet/Outlet Area Ratio  is required

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Outlet Silencer
							input(
							class='form-control ',
							type='text',
							ng-model='data.FanAssemblies.OutletSilencer',
							placeholder='Enter/Select Outlet Silencer ')

							button.btn.btn-primary.btn-circle(ng-model='data.FanAssemblies.OutletSilencer',ng-repeat=' unit in inletSilencer.$values | filter:{ParentId:13}',btn-radio="'{{unit.Value}}'") {{unit.Value}}

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							label(
							class='control-label',
							for='selectPressure')
								| Other Outlet Parts
							input(
							class='form-control ',
							type='text',
							ng-model='data.FanAssemblies.OutletOtherParts',
							placeholder='Enter/Select Other Outlet Parts ')
							button.btn.btn-primary.btn-circle(type="button",ng-model="data.FanAssemblies.OutletOtherParts",btn-radio="'0'") 0
							button.btn.btn-primary.btn-circle(type="button",ng-model="data.FanAssemblies.OutletOtherParts",btn-radio="'1'") 1

						.form-group
							button.btn.btn-primary.pull-left(type='submit',ng-click='operatingPoint()') Previous
						.form-group
							button.btn.btn-primary.pull-right(type='submit',ng-click='materialControl()') Next