//
   Created by amd on 13/3/14.

.col-sm-8.col-sm-offset-2
    .panel.panel-primary
        .panel-heading
            h3.panel-title.text-center Noises Data
        .panel-body
            .col-sm-8.col-sm-offset-2
                .form-group( ng-class="{ 'has-error' : newProject.projectName.$invalid && newProject.projectName.$dirty}")
                    label(
                    class='control-label',
                    for='project-name') Fan Location
                    select.form-control(ng-model='data.Noises.FanLocation')
                        option(value='') Select Fan Location..
                        option(value='0') Center of the room
                        option(value='1') Center of the wall
                        option(value='2') Center of the corner
                .form-group(ng-class="{ 'has-error' : newProject.orderNo.$invalid && newProject.orderNo.$dirty}")
                    label(
                    class='control-label',
                    for='order-no') Absorption area of room
                    input#dynamicViscosity(
                    class='form-control ',
                    type='text',
                    name='dynamicViscosity',
                    ng-model='data.Noises.RoomAbsorptionArea',
                    placeholder='Enter Absorption area of room[m*2sabin]',
                    required)
                    small.help-block(
                    ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
                        | Absorption area of roomis required
                .form-group(ng-class="{ 'has-error' : newProject.orderNo.$invalid && newProject.orderNo.$dirty}")
                    label(
                    class='control-label',
                    for='order-no') Background Noise corrections
                    input#dynamicViscosity(
                    class='form-control ',
                    type='text',
                    name='dynamicViscosity',
                    ng-model='data.Noises.BackgroundNoiseCorrection',
                    placeholder='Enter Background Noise corrections k1*k2[db]',
                    required)
                    small.help-block(
                    ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
                        |  Background Noise corrections is required
                .form-group( ng-class="{ 'has-error' : newProject.projectName.$invalid && newProject.projectName.$dirty}")
                    label(
                    class='control-label',
                    for='project-name') Design
                    select.form-control(ng-model='data.Noises.Design')
                        option(value='') Select Design
                        option(value='0') RU/RE[single inlet ducted/with intake notzle]
                        option(value='1') RS[single inlet with intake box]
                        option(value='2') ZE[double inlet with inlet notzle]
                        option(value='3') ZS[double inlet with intake box]
                .form-group(ng-class="{ 'has-error' : newProject.orderNo.$invalid && newProject.orderNo.$dirty}")
                    label(
                    class='control-label',
                    for='order-no') Housing Metal place thickness[mm]
                    input#dynamicViscosity(
                    class='form-control ',
                    type='text',
                    name='dynamicViscosity',
                    ng-model='data.Noises.HousingMetalPlateThickness',
                    placeholder='Enter Housing Metal place thickness',
                    required)
                    small.help-block(
                    ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
                        | Housing Metal place thickness is required
                .form-group(ng-class="{ 'has-error' : newProject.orderNo.$invalid && newProject.orderNo.$dirty}")
                    label(
                    class='control-label',
                    for='order-no') Distance between stiffners 2a[mm]
                    input#dynamicViscosity(
                    class='form-control ',
                    type='text',
                    name='dynamicViscosity',
                    ng-model='data.Noises.DistanceBetweenStiffners',
                    placeholder='Enter Distance between stiffner',
                    required)
                    small.help-block(
                    ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
                        | Distance between stiffners 2a is required
                .form-group(ng-class="{ 'has-error' : newProject.projectName.$invalid && newProject.projectName.$dirty}")
                    label(
                    class='control-label',
                    for='project-name') Housing Material
                    select.form-control(ng-model='data.Noises.HousingMaterial')
                        option(value="") Select Housing Material..
                        option(value='0') Steel,Alu. or stainless steel plate
                        option(value='1') Steel plate rubberized
                .form-group
                    button.btn.btn-primary.pull-left(type='submit',ng-click='materialControl()()') Previous
                    button.btn.btn-primary.pull-right(type='submit',ng-click='createProject(data)') Submit



